.kzui-name{

       font-size: 40px;
}

.kzui-n1{
       
      font-size: 25px;
      border: 1px solid rgba(128, 128, 128, 0);
      border-radius: 5px;
      
      
}

.kzui-navbar{

   display: flex;
   align-items: center;
   gap: 120px;
   padding: 10px;
   background: rgba(160, 160, 160, 0.062) ;
   border-radius: 5px;
}

.kzui-navChild{

   display: flex;
   gap: 20px;

}

.kzui-icon{
    
    display: flex;
    align-items: center;
    gap: 10px;
 

}
.kzui-universe{
   
   font-family: "Rubik Wet Paint", system-ui;
   font-weight: 400;
   font-style: normal;

}
.kzui-the{
   font-family: "Satisfy", cursive;
   font-weight: 400;
   font-style: normal;
}
.kzui-perfect{
 
   font-family: "Rock Salt", cursive;
 font-weight: 400;
 font-style: normal;


}
.kzui-choice{

   font-family: "Sacramento", cursive;
   font-weight: 400;
   font-style: normal;

}
.kzui-text-color{

    color: black;

}
.kzui-welcome-margin{

      
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
      height: 300px;
      width: 400px ;

}
.kzui-text-setting{
   
    font-size: 30px;
    font-style: oblique;
}

.kzui-menu{
    
    font-size: 20px;
    color: rgba(128, 128, 128, 0.897);
    font-style: oblique;

}
.kzui-general{

   display: flex;
   align-items: center;
   gap: 5px;
   

}
.kzui-border{
   
   
    border: 1px solid  rgba(160, 158, 158, 0.603);
    padding: 20px;
    border-radius: 10px;
}
.kzui-flex{

   display: flex;
   gap: 20px;
   justify-content: center;
   margin-top: 40px;
   align-items: center;
   margin-bottom: 500px;
   

}
.kzui-button1{

    font-size: 30px;
    

}
.kzui-block-page{

   display: flex;
   justify-content: center;
   margin-top: 100px;

}
.kzui-button{
    
   height: 65px;
   width: 250px;
   border: 1px solid rgba(128, 128, 128, 0);
   border-radius: 5px;
  

}
.kzui-H-W{

   height: 1px;
   width: 799px;
   background-color: rgba(128, 128, 128, 0.541);

}
.kzui-search{

    display: flex;
    align-items: center;
    gap: 2px;
    border: 1px solid gray;
    padding: 6px;
    width: 220px;
    border-radius: 4px;
    height: 25px;
    


}
.kzui-search-input{

    border: 1px solid rgba(255, 255, 255, 0);

}
.kzui-designTabs{
   
    display:  flex; 
    justify-content: space-between;
    gap: 50px;

}
.kzui-all-designSystem-file{

    border: 1px solid rgba(128, 128, 128, 0.712);
    border-radius: 5px;
    padding: 20px;
    width: 800px;
    margin-bottom: -403px;
    margin-top: 7px;
    height: 500px;
}


